.body {
  width: auto;
}

#content {
  margin: auto;
}

#siteTitle {
  font-family: monospace;
  background: linear-gradient(90deg, #ccffff, #ffcccc);
}

#secondHeader {
  font-size: 8px;
}

p {
  padding: 1em;
}

#p-left {
  float: left;
  margin: 0.25em;
}

#p-right {
  float: right;
  margin: 0.25em;
}
