body {
  width: auto;
}

#content {
  margin: auto;
}

h1 {
  font-family: monospace;
  background: linear-gradient(90deg, #ccffff, #ffcccc);
}

h2 {
  font-size: 16px;
}

p {
  padding: 1em;
}

#p-left {
  float: left;
  margin: 0.25em;
}

#p-right {
  float: right;
  margin: 0.25em;
}
